<div class="row">
  <div class="jumbotron mt-5 mx-auto">
    <h1 class="display-3">Map View (On Develop!!!)</h1>
    <p>Santander de Quilichao - Republic of Colombia</p>
    <img src="../../../assets/img/santander.png" alt="geovista">
    <hr class="my-4">
    <h3 class="display-4">Position</h3>
    <p><span>Lat:</span>3.00945</p>
    <p><span>Long: -76.4849396</span></p>
    <p>Hemisferio Norte</p>
    <button class="btn btn-primary btn-block"routerLink="/failure"><i class="fa fa-map-o"></i> Get Position</button>
  </div>
</div>
