<div class="row">
  <div class="col-md-6 mx-auto mt-5 text-center">
    <div class="card">
      <h1>Ooops!!!</h1>
      <h2>404 - Location no Finded!</h2>
      <p><span>Id:</span>Not Found</p>
      <p><span>Long:</span>Not Found</p>
      <p><span>Lat:</span>Not Found</p>
      <p><span>status:</span>Not Found</p>
      <div class="card-body">
        <a routerLink="/" class="btn btn-primary btn-lg btn-block"><i class="fa fa-home"></i> Go to the Home</a>
      </div>
    </div>
  </div>
</div>